@import "tailwindcss";

:root {
      --bg-main: #C09B6F;
      --bg-secondary: #C09B6F;
      --text-main: #ededed;
      --text-muted: #a1a1aa;
      --color-primary: #FFBE00; /* Emerald-500 */
      --color-primary-glow: #FEDB73;
    }
    h1 {
      font-family: 'Grenze', serif;
      
    }

    h2 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      
    }

    h3 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      
    }

    h4 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      
      line-height: 1.2;
    }

    h5 {
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-size: 20px;
      line-height: 1.3;
    }

    /* Animasi muncul per huruf (Smooth Letter Reveal) */
    @keyframes letterReveal {
      0% {
        opacity: 0;
        transform: translateX(-20px); /* Muncul dari sedikit kiri */
        filter: blur(10px); /* Efek blur awal */
      }
      100% {
        opacity: 1;
        transform: translateX(0);
        filter: blur(0);
      }
    }

    /* Custom Scrollbar for the mock hero */
    ::-webkit-scrollbar {
      width: 8px;
    }
    ::-webkit-scrollbar-track {
      background: var(--bg-main); 
    }
    ::-webkit-scrollbar-thumb {
      background: #333; 
      border-radius: 4px;
    }